@using WebPBL3.DTO
@model CarDto
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('@Url.Content("~/images/bg_3.jpg")');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
			<div class="col-md-9 ftco-animate pb-5">
				<p class="breadcrumbs">
					<span class="mr-2">
						<a href="@Url.Action("Index", "Car")">
							Sản phẩm <i class="ion-ios-arrow-forward"></i>
						</a>
					</span> <span>
						 Chi tiết <i class="ion-ios-arrow-forward"></i>
					</span>
				</p>
				<h1 class="mb-3 bread">Chi tiết ô tô</h1>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section ftco-car-details">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="car-details">
					<div class="img rounded" style="background-image: url(@Url.Content("~/upload/car/" + Model.Photo)); background-size: contain;"></div>
					<div class="text" style="text-align: center; margin: auto; width: 50%;">
						<span class="subheading" style="font-size: 14px;">@Model.MakeName</span>
						<h2 style="font-size: 26px;">@Model.CarName</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services">
					<div class="media-body py-md-4">
						<div class="d-flex mb-3 align-items-center">
							<div class="icon d-flex align-items-center justify-content-center"><span class="ion-ios-flag"></span></div>
							<div class="text">
								<h3 class="heading mb-0 pl-3">
									Xuất xứ
									<span>@Model.Origin</span>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services">
					<div class="media-body py-md-4">
						<div class="d-flex mb-3 align-items-center">
							<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
							<div class="text">
								<h3 class="heading mb-0 pl-3">
									Động cơ
									<span>@Model.Engine </span>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services">
					<div class="media-body py-md-4">
						<div class="d-flex mb-3 align-items-center">
							<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
							<div class="text">
								<h3 class="heading mb-0 pl-3">
									Số chỗ
									<span>@Model.Seat chỗ</span>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services">
					<div class="media-body py-md-4">
						<div class="d-flex mb-3 align-items-center">
							<div class="icon d-flex align-items-center justify-content-center"><span class="ion-ios-color-filter"></span></div>
							<div class="text">
								<h3 class="heading mb-0 pl-3">
									Màu sắc
									<span>@Model.Color</span>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services">
					<div class="media-body py-md-4">
						<div class="d-flex mb-3 align-items-center">
							<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
							<div class="text">
								<h3 class="heading mb-0 pl-3">
									Nhiên liệu tiêu thụ(l/100km)
									<span>@Model.FuelConsumption</span>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services">
					<div class="media-body py-md-4">
						<div class="d-flex mb-3 align-items-center">
							<div class="icon d-flex align-items-center justify-content-center"><span class="ion-ios-pricetag"></span></div>
							<div class="text">
								<h3 class="heading mb-0 pl-3">
									Giá
									<span>@String.Format("{0:N0}", Model.Price) VNĐ</span>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 pills">
				<div class="bd-example bd-example-tabs">
					<div class="d-flex justify-content-center">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Mô tả</a>
							</li>
						</ul>
					</div>

					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
							<p style="color:#000; font-weight: bold;">@Model.Description</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section ftco-no-pt">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 heading-section text-center ftco-animate mb-5">
				<h2 class="mb-2">Xe liên quan</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="carousel-car owl-carousel" style="padding-bottom:50px">
					@foreach (var item in ViewBag.RelatedCars)
					{
						<div class="item" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);">
							<a asp-action="Detail" asp-controller="Car" asp-route-id="@item.CarID" class="car-link">
								<div class="car-wrap rounded ftco-animate">
									<div class="img rounded d-flex align-items-end" style="background-image: url('@Url.Content("~/upload/car/" + item.Photo)');background-size: contain;">
									</div>
									<div class="text" style="padding: 5px 30px 30px;">
										<h2 class="mb-0" style="font-size:24px"><a asp-action="Detail" asp-controller="Car" asp-route-id="@item.CarID">@item.CarName</a></h2>
										<p class="price ml-auto" style="margin-top: 5px;font-size:16px;margin-bottom: 10px;">Giá: @String.Format("{0:N0}", item.Price) VNĐ</p>
										<p class="d-flex mb-0 d-block"><a asp-action="Detail" asp-controller="Car" asp-route-id="@item.CarID" class="btn btn-primary detail-button">Chi tiết</a></p>
									</div>
								</div>
							</a>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script>
	$(document).ready(function () {
		console.log("Document is ready.");
		var relatedCarsCount = @ViewBag.RelatedCars.Count;
		console.log("Related cars count: ", relatedCarsCount);
		$(".owl-carousel").owlCarousel({
			items: relatedCarsCount,
			loop: true,
			margin: 10,
			nav: true,
			autoplay: true,
			autoplayTimeout: 3000,
			autoplayHoverPause: true,
		});
		console.log("Owl Carousel initialized.");
	});
</script>
