@using WebPBL3.DTO
@model List<CarDto>
@{
    ViewData["Title"] = "Index";
}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/img1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="@Url.Action("Index", "Home")">
                            Trang chủ <i class="ion-ios-arrow-forward"></i>
                        </a>
                    </span> <span>
                        Sản phẩm <i class="ion-ios-arrow-forward"></i>
                    </span>
                </p>
                <h1 class="mb-3 bread">Choose Your Car</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section" style="padding: 4em 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <form id="filterForm">
                    <div class="car__sidebar">
                        <div class="car__filter">
                            <h5>Sắp xếp</h5>
                            <div class="form-group mr-1">
                                <select class="form-control" id="sortFilter" name="sort">
                                    <option selected disabled>Chọn</option>
                                    <option value="Price">Giá</option>
                                    <option value="bestSelling">Xe bán chạy</option>
                                </select>
                            </div>
                        </div>
                        <div class="car__filter">
                            <h5>Car Filter</h5>
                            <div class="form-group mr-1">
                                <select class="form-control" id="makeFilter" name="makename">
                                    <option selected disabled>Hãng xe</option>
                                    @foreach (var item in ViewBag.Makes)
                                    {
                                        <option value="@item.Text">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group mr-1">
                                <select class="form-control" id="originFilter" name="origin">
                                    <option selected disabled>Xuất xứ</option>
                                    @foreach (var item in ViewBag.Origins)
                                    {
                                        <option value="@item.Text">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group mr-1">
                                <select class="form-control" id="colorFilter" name="color">
                                    <option selected disabled>Màu sắc</option>
                                    @foreach (var item in ViewBag.Colors)
                                    {
                                        <option value="@item.Text">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group mr-1">
                                <select class="form-control" id="seatFilter" name="seat">
                                    <option selected disabled>Số chỗ</option>
                                    @foreach (var item in ViewBag.Seats)
                                    {
                                        <option value="@item.Text">@item.Text</option>
                                    }
                                </select>
                            </div>
                            <div class="car__filter__btn" style="text-align: center;">
                                <button type="reset" class="btn btn-primary detail-button">Reset Filter</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-9">
                <div class="car__filter__option">
                    <div class="row">
                        <div class="car__search">
                            <form id="searchForm">
                                <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="Tìm kiếm" value="@ViewBag.SearchTerm" aria-label="Search" aria-describedby="search-addon">
                                <button type="submit" id="search-button" class="btn-search"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" id="car-list">
                    
                </div>
                <div class="row">
                    <div class="pagination__option" id="pagination" style="padding-left: 15px;">
                    </div>
                </div>             
            </div>
        </div>
    </div>
</section>

<!-- Đặt thẻ script jQuery trước mã script của bạn -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js"></script>
<script>
    $(function () {
        $("#makeFilter, #originFilter, #colorFilter, #seatFilter",).change(function (e) {
            e.preventDefault();
            loadCars();
        });
        $("#sortFilter").change(function (e) {
            e.preventDefault();
            loadCars();
        });

        $("#filterForm").on('reset', function (e) {
            e.preventDefault();
            $(this).find('select').prop('selectedIndex', 0);
            loadCars();
        });
        $("#searchForm").submit(function (e) {
            e.preventDefault();
            loadCars();
        });
        function loadCars(page = 1) {
            let search = $("#searchTerm").val();
            let make = $("#makeFilter").val();
            let ori = $("#originFilter").val();
            let col = $("#colorFilter").val();
            let sea = $("#seatFilter").val();
            let sort = $("#sortFilter").val();
            let perPage = 9;
            jQuery.ajaxSettings.traditional = true;
            $.get("/Car/Cars",
                {
                    txtSearch: search,
                    makeName: make,
                    origin: ori,
                    color: col,
                    seat: sea,
                    page: page,
                    perPage: perPage,
                    sortBy: sort
                },
                function (response) {
                    console.log(response);
                    $("#car-list").empty();
                    var cars = response.data;
                    var urlBase = '@Url.Action("Detail", "Car", new { id = "__id__" })';
                    cars.forEach(function (car) {
                        var urlDetail = urlBase.replace("__id__", car[0]);

                        // Tạo các phần tử HTML
                        var $col = $("<div>").addClass("col-lg-4 col-md-6 col-sm-12");
                        var $item = $("<div>").addClass("item").css("box-shadow", "0px 0px 10px rgba(0, 0, 0, 0.1)");
                        var $link = $("<a>").addClass("car-link").attr("href", urlDetail);
                        var $carWrap = $("<div>").addClass("car-wrap rounded ftco-animate fadeInUp ftco-animated");
                        var $img = $("<div>").addClass("img rounded d-flex align-items-end").css({
                            "background-image": `url('/upload/car/${car[1]}')`,
                            "background-size": "contain"
                        });
                        var $text = $("<div>").addClass("text").css("padding", "5px 30px 30px");
                        var $title = $("<h2>").addClass("mb-0").css({ "font-size": "24px", "text-align": "center" }).html(`<a href="${urlDetail}">${car[3]}</a>`);
                        var $price = $("<p>").addClass("price ml-auto").css({ "margin-top": "5px", "font-size": "16px", "margin-bottom": "10px" }).text(`Giá: ${parseFloat(car[2]).toLocaleString('vi-VN')} VNĐ`);
                        var $detailLink = $("<p>").addClass("d-flex mb-0 d-block").html(`<a href="${urlDetail}" class="btn btn-primary detail-button">Chi tiết</a>`);
                        $text.append($title, $price, $detailLink);
                        $carWrap.append($img, $text);
                        $link.append($carWrap);
                        $item.append($link);
                        $col.append($item);
                        $("#car-list").append($col);
                    });
                    createPagination(response.totalPages, page);
                });
        }
        function createPagination(totalPages, currentPage) {
            $("#pagination").empty(); // Xóa các phân trang hiện có

            // Tạo các trang
            for (let i = 1; i <= totalPages; i++) {
                let $page = $("<a>").attr("href", "#").text(i).addClass(i === currentPage ? "active" : "");
                $page.click(function (e) {
                    e.preventDefault();
                    loadCars(i);
                });
                $("#pagination").append($page);
            }

            let reachedEnd = currentPage === totalPages;
            if (totalPages >= 1) {
                let $nextPage = $("<a>").attr("href", "#").html('<i class="fas fa-angles-right"></i>');

                if (!reachedEnd) {
                    $nextPage.click(function (e) {
                        e.preventDefault();
                        let currentPage = parseInt($(".pagination__option .active").text());
                        loadCars(currentPage + 1);
                    });
                } else {
                    $nextPage.click(function (e) {
                        e.preventDefault();
                        loadCars(currentPage);
                    });
                }
                $("#pagination").append($nextPage);
            }

        }
        loadCars();
    });
</script>


