@using WebPBL3.Models
@using Newtonsoft.Json
@model WebPBL3.Models.UserDto

@{


    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var wardsJson = TempData["wards"] as string;
    TempData.Keep("wards");
    var wards = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Ward>>(wardsJson);

    var districtsJson = TempData["districts"] as string;
    TempData.Keep("districts");
    var districts = Newtonsoft.Json.JsonConvert.DeserializeObject<List<District>>(districtsJson);

    var provincesJson = TempData["provinces"] as string;
    TempData.Keep("provinces");
    var provinces = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Province>>(provincesJson);

}


<hr />

<div class="container-xl px-4 mt-4">
   
<hr class="mt-0 mb-4">
    <form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-body text-center">
						<!-- Profile picture image-->
                        <img id="profileimage" class="img-account-profile rounded-circle mb-2" src="~/upload/user/userkh000000.jpg" alt="" style=" width: 200px;height:200px;">
                    <!-- Profile picture help block-->
                        <input asp-for="Photo" type="file" class="form-control" id="uploadimage" name="uploadimage" style="display: none">
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <button id="choosePhotoButton" type="button" class="btn btn-primary" style="position: relative; top: -10px; background-color: gray; color: white;">
                            <i class="fa-solid fa-pen-to-square"></i> Thêm ảnh
                        </button>
                    <!-- Profile picture upload button-->
                   
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Thông tin chi tiết</div>
                <div class="card-body">
                    
                        @if (TempData["Error"] != null)
                        {
                            <div class="text-danger">
                                <span><b>Xin lỗi!</b> - @TempData["Error"] </span>
                            </div>
                        }
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label asp-for="FullName" class="control-label">Họ và Tên</label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label asp-for="Email" class="control-label">Email</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                                
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label asp-for="IdentityCard" class="control-label">CCCD</label>
                                <input asp-for="IdentityCard" class="form-control" />
                                <span asp-validation-for="IdentityCard" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label asp-for="Gender" class="control-label">Giới tính</label>
                                <select asp-for="Gender" class="form-control">
                                    <option value="">--Chọn giới tính--</option>
                                    <option value="True">Nam</option>
                                    <option value="False">Nữ</option>
                                </select>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label asp-for="BirthDate" class="control-label">Ngày sinh</label>
                                <input asp-for="BirthDate" class="form-control" type="date" />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label asp-for="ProvinceName" class="control-label">Tên tỉnh(Thành phố)</label>
                                <select id="city" asp-for="ProvinceName" class="form-control">
                                    <option value="">--Chọn tên tỉnh(Thành phố)--</option>
                                    @foreach (Province i in provinces)
                                    {
                                        <option value=@i.ProvinceName>@i.ProvinceName</option>

                                    }
                                    <!-- Các option cho Province sẽ được đổ vào đây -->
                                </select>
                                <span asp-validation-for="ProvinceName" class="text-danger"></span>
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label asp-for="DistrictName" class="control-label">Tên quận(huyện)</label>
                                
                                <select id="district" asp-for="DistrictName" class="form-control">
                                    <option value="">--Chọn tên quận(huyện)--</option>
                                    @foreach (District i in districts)
                                    {
                                        <option value=@i.DistrictName>@i.DistrictName</option>

                                    }
                                    <!-- Các option cho District sẽ được đổ vào đây -->
                                </select>
                                <span asp-validation-for="DistrictName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label asp-for="WardName" class="control-label">Tên xã(phường)</label>
                                
                                <select id="ward" asp-for="WardName" class="form-control">
                                    <option value="">--Chọn tên xã(phường)--</option>
                                    @foreach (Ward i in wards)
                                    {
                                        <option value=@i.WardName>@i.WardName</option>

                                    }
                                    <!-- Các option cho Ward sẽ được đổ vào đây -->
                                </select>
                                <span asp-validation-for="WardName" class="text-danger"></span>
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label asp-for="Address" class="control-label">Số nhà, đường</label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form row" style="display: flex; justify-content: flex-end;">
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-primary form-control">Thêm mới</button>
                            </div>
                            <div class="form-group col-md-3">
                                <a asp-controller="User" asp-action="UserListTable" class="btn btn-outline-primary border form-control">
                                    Quay lại danh sách
                                </a>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<script>
    // Get the file input element and the image element
    const fileInput = document.getElementById('uploadimage');
    const profileImage = document.getElementById('profileimage');
    document.getElementById('choosePhotoButton').addEventListener('click', function () {
        document.getElementById('uploadimage').click();
    });
    // Add an event listener to the file input element
    fileInput.addEventListener('change', function (event) {
        // Check if a file is selected
        if (event.target.files && event.target.files[0]) {
            // Create a FileReader to read the file
            const reader = new FileReader();

            // Set up a callback function that runs when the file is read
            reader.onload = function (e) {
                // Update the src attribute of the image element with the new image
                profileImage.src = e.target.result;
            };

            // Read the selected file as a data URL
            reader.readAsDataURL(event.target.files[0]);
        }
    });
</script>
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            var opt = document.createElement('option');
            opt.value = x.Name;
            opt.text = x.Name;
            opt.setAttribute('data-id', x.Id);
            citis.options.add(opt);
        }
        citis.onchange = function () {
            district.length = 1;
            ward.length = 1;
            if (this.options[this.selectedIndex].dataset.id != "") {
                const result = data.filter(n => n.Id === this.options[this.selectedIndex].dataset.id);

                for (const k of result[0].Districts) {
                    var opt = document.createElement('option');
                    opt.value = k.Name;
                    opt.text = k.Name;
                    opt.setAttribute('data-id', k.Id);
                    district.options.add(opt);
                }
            }
        };
        district.onchange = function () {
            ward.length = 1;
            const dataCity = data.filter((n) => n.Id === citis.options[citis.selectedIndex].dataset.id);
            if (this.options[this.selectedIndex].dataset.id != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Id === this.options[this.selectedIndex].dataset.id)[0].Wards;

                for (const w of dataWards) {
                    var opt = document.createElement('option');
                    opt.value = w.Name;
                    opt.text = w.Name;
                    opt.setAttribute('data-id', w.Id);
                    wards.options.add(opt);
                }
            }
        };
    }
</script> *@
@* <div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <div class="form row">
                <div class="form-group col-md-3">
                    <label asp-for="FullName" class="control-label">Họ và Tên</label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="IdentityCard" class="control-label">CCCD</label>
                    <input asp-for="IdentityCard" class="form-control" />
                    <span asp-validation-for="IdentityCard" class="text-danger"></span>
                </div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-3">
                        <label asp-for="ProvinceName" class="control-label">Tên tỉnh(Thành phố)</label>
                        <select id="provinceDropdown" asp-for="ProvinceName" class="form-control">
                            @foreach (Province i in provinces)
                            {
                                <option value=@i.ProvinceName>@i.ProvinceName</option>

                            }
                           <!-- Các option cho Province sẽ được đổ vào đây -->
                        </select>
                        <span asp-validation-for="ProvinceName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="DistrictName" class="control-label">Tên quận(huyện)</label>
                        <select id="districtDropdown" asp-for="DistrictName" class="form-control">
                        @foreach (District i in districts)
                        {
                            <option value=@i.DistrictName>@i.DistrictName</option>

                        }
                            <!-- Các option cho District sẽ được đổ vào đây -->
                        </select>
                        <span asp-validation-for="DistrictName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="WardName" class="control-label">Tên xã(phường)</label>
                        <select id="wardDropdown" asp-for="WardName" class="form-control">
                        @foreach (Ward i in wards)
                        {
                            <option value=@i.WardName>@i.WardName</option>

                        }
                            <!-- Các option cho Ward sẽ được đổ vào đây -->
                        </select>
                    <span asp-validation-for="WardName" class="text-danger"></span>
                    </div>
                <div class="form-group col-md-3">
                    <label asp-for="Address" class="control-label">Số nhà, đường</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
               </div>
                <div class="form row" style="display: flex; justify-content: flex-end;">
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary form-control">Thêm mới</button>
                </div>
                <div class="form-group col-md-2">
                    <a asp-controller="User" asp-action="UserListTable" class="btn btn-outline-primary border form-control">
                        Quay lại danh sách
                    </a>
                </div>
            </div>

        </form>
    </div>
</div> *@