@using WebPBL3.DTO
@using Newtonsoft.Json
@model UserDto

@{
    ViewData["Title"] = "Cập nhật khách hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string Photo = "userkh000000.jpg";
    if (!string.IsNullOrEmpty(Model.Photo))
    {
        Photo = Model.Photo;
    }
}


<hr />

<div class="container-xl px-4 mt-4">

    <hr class="mt-0 mb-4">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="UserID" value="@Model.UserID" />
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-body text-center">
						<!-- Profile picture image-->
                        <img id="profileimage" class="img-account-profile rounded-circle mb-2" src="~/upload/user/@Photo" alt="" style=" width: 200px;height:200px;">
                        <!-- Profile picture help block-->
                        <input asp-for="Photo" type="file" class="form-control" id="uploadimage" name="uploadimage" style="display: none;">
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <button id="choosePhotoButton" type="button" class="btn btn-primary" style="position: relative; top: -10px; background-color: dodgerblue; color: white;">
                            <i class="fa-solid fa-pen-to-square"></i> Cập nhật ảnh
                        </button>
                        <!-- Profile picture upload button-->

                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Thông tin chi tiết</div>
                    <div class="card-body">

                        @if (TempData["Error"] != null)
                        {
                            <div class="text-danger">
                                <span><b>Xin lỗi!</b> - @TempData["Error"] </span>
                            </div>
                        }
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label asp-for="FullName" class="control-label">Họ và Tên</label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label asp-for="Email" class="control-label">Email</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label asp-for="IdentityCard" class="control-label">CCCD</label>
                                <input asp-for="IdentityCard" class="form-control" />
                                <span asp-validation-for="IdentityCard" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Form Row        -->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (organization name)-->
                            <div class="col-md-6">
                                <label asp-for="Gender" class="control-label">Giới tính</label>
                                <select asp-for="Gender" class="form-control">
                                    <option value="">--Chọn giới tính--</option>
                                    <option value="True">Nam</option>
                                    <option value="False">Nữ</option>
                                </select>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <!-- Form Group (location)-->
                            <div class="col-md-6">
                                <label asp-for="BirthDate" class="control-label">Ngày sinh</label>
                                <input asp-for="BirthDate" class="form-control" type="date" />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="control-label">Tên tỉnh(Thành phố)</label>
                                <select id="city" class="form-control">
                                   
                                       <option value="0">--Chọn tên tỉnh(Thành phố)--</option>  
                                    <!-- Các option cho Province sẽ được đổ vào đây -->
                                </select>
                                
                            </div>
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="control-label">Tên quận(huyện)</label>

                                <select id="district" class="form-control">                  
                                    <option value="0">--Chọn tên quận(huyện)--</option>
                                    <!-- Các option cho District sẽ được đổ vào đây -->
                                </select>
                                <span asp-validation-for="DistrictName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label asp-for="WardID" class="control-label">Tên xã(phường)</label>

                                <select id="ward" asp-for="WardID" class="form-control">
                                    <option value="0">--Chọn tên xã(phường)--</option>
                                    <!-- Các option cho Ward sẽ được đổ vào đây -->
                                </select>
                                <span asp-validation-for="WardID" class="text-danger"></span>
                            </div>
                            
                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label asp-for="Address" class="control-label">Số nhà, đường</label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form row" style="display: flex; justify-content: flex-end;">
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-warning form-control">Cập nhật</button>
                            </div>
                            <div class="form-group col-md-3">
                                <a asp-controller="User" asp-action="UserListTable" class="btn btn-outline-success border form-control">
                                    Quay lại danh sách
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var cities = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    
    // Get the file input element and the image element
    const fileInput = document.getElementById('uploadimage');
    const profileImage = document.getElementById('profileimage');
    document.getElementById('choosePhotoButton').addEventListener('click', function () {
        document.getElementById('uploadimage').click();
    });
    // Add an event listener to the file input element
    fileInput.addEventListener('change', function (event) {
        // Check if a file is selected
        if (event.target.files && event.target.files[0]) {
            // Create a FileReader to read the file
            const reader = new FileReader();

            // Set up a callback function that runs when the file is read
            reader.onload = function (e) {
                // Update the src attribute of the image element with the new image
                profileImage.src = e.target.result;
            };

            // Read the selected file as a data URL
            reader.readAsDataURL(event.target.files[0]);
        }
    });
    async function getData() {
        try {
            const response = await fetch("/Order/GetProvince");
            const data = await response.json();
            console.log(data);
            return data;
        } catch (error) {
            alert('Loi fetch api: ', error);
        }
    }
    async function getDistrict(id) {
        try {
            const response = await fetch(`/Order/GetDistrict/${id}`);
            const data = await response.json();
            console.log(data);
            return data;
        } catch (error) {
            alert('Loi fetch api: ', error);
        }
    }
    async function getWard(id) {
        try {
            const response = await fetch(`/Order/GetWard/${id}`);
            const data = await response.json();
            console.log(data);
            return data;
        } catch (error) {
            alert('Loi fetch api: ', error);
        }
    }
    async function renderCities() {
        const res = await getData();
        res.forEach(city => {
            cities.options[cities.options.length] = new Option(city.provinceName, city.provinceID);
        });
        
        
        if (@Model.WardID) {
            cities.value = @ViewBag.ProvinceID;
            
            const listDistrict = await getDistrict(cities.value);
            listDistrict.forEach(district => {
                districts.options[districts.options.length] = new Option(district.name, district.id);
            });
            districts.value = @ViewBag.DistrictID;
            const listWard = await getWard(districts.value);
            listWard.forEach(ward => {
                wards.options[wards.options.length] = new Option(ward.name, ward.id);
            });
            wards.value = @Model.WardID;
        } 
        cities.addEventListener('change', async () => {
            districts.options.length = 1;
            wards.options.length = 1;
            const listDistrict = await getDistrict(cities.value);
            listDistrict.forEach(district => {
                districts.options[districts.options.length] = new Option(district.name, district.id);
            });

        })
        districts.addEventListener('change', async () => {
            wards.options.length = 1;
            const listWard = await getWard(districts.value);
            listWard.forEach(ward => {
                wards.options[wards.options.length] = new Option(ward.name, ward.id);
            });


        })
        wards.addEventListener('change', async () => {
            var selectedWardId = $("#ward option:selected").val();
            document.getElementById('WardID').value = selectedWardId;
        })


    }
    
    renderCities();
</script>
