
@model List<UserDto>
@{
    ViewData["Title"] = "Quản lý khách hàng";
    Layout = "_AdminLayout";
    int page = ViewBag.currentPage;
    int total = ViewBag.totalPage;
    string searchtxt = ViewBag.searchtxt;
    int fieldsearch = ViewBag.fieldsearch;
    int count = 0;
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Danh sách khách hàng</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-4">
                    <div class=" input-group rounded">
                        <input type="text" id="txtSearch" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" value="@searchtxt" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
               
            </div>
            <div class="col-2">
                <select class="form-control rounded" style="border: 2px solid #ced4da;" id="fieldsearch" name="fieldsearch">
                        @if (ViewBag.fieldsearch == 1) {
                            <option value="1" selected>Họ và tên</option>
                        } else {
                            <option value="1">Họ và tên</option>
                        }
                        @if (ViewBag.fieldsearch == 2) {
                            <option value="2" selected>Số điện thoại</option>
                        } else {
                             <option value="2">Số điện thoại</option>
                        }
                        @if (ViewBag.fieldsearch == 3) {
                            <option value="3" selected>Email</option>
                        } else {
                            <option value="3">Email</option>
                        }
                        @if (ViewBag.fieldsearch == 4) {
                            <option value="4" selected>CCCD</option>
                        } else {
                            <option value="4">CCCD</option>
                        }    
                </select>
            </div>
            <div class="col-6 text-end " style="text-align: right;">
                <a asp-controller="User" asp-action="Create" class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>  Thêm khách hàng
                </a>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Mã khách hàng
                    </th>
                    <th>
                        Họ và tên
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        CCCD
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th>

                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var obj in Model.OrderBy(u => u.UserID))
                {
                    <tr>
                        <td>@(++count)</td>
                        <td>@obj.UserID</td>
                        <td>
                            @obj.FullName
                        </td>
                        <td>
                            @obj.PhoneNumber
                        </td>
                        <td>
                            @obj.Email
                        </td>
                        <td>
                            @obj.IdentityCard
                        </td>

                        <td>
                            @{
                                string Address = string.Empty;
                                string address = !string.IsNullOrEmpty(obj.Address) ? obj.Address + "," : string.Empty;
                                string wardname = !string.IsNullOrEmpty(obj.WardName) ? obj.WardName + "," : string.Empty;
                                string districtname = !string.IsNullOrEmpty(obj.DistrictName) ? obj.DistrictName + "," : string.Empty;
                                string provincename = !string.IsNullOrEmpty(obj.ProvinceName) ? obj.ProvinceName +"": string.Empty;
                                if (!string.IsNullOrEmpty(wardname) && !string.IsNullOrEmpty(districtname) && !string.IsNullOrEmpty(provincename))
                                {
                                    Address = $"{address} {wardname} {districtname} {provincename}";
                                }
                            }
                            @Address
                        </td>
                            
                     
                        


                        <td>
                            <div class="btn-group" role="group" styke="gap: 10px">
                                <a asp-controller="User" asp-action="Details" asp-route-id="@obj.UserID" class="btn btn-outline-success">
                                    <i class="fa-solid fa-eye"></i>
                                    Chi tiết
                                </a>

                                <!-- Sử dụng icon pen cho Cập nhật -->
                                <a asp-controller="User" asp-action="Edit" asp-route-id="@obj.UserID" class="btn btn-warning">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    Cập nhật
                                </a>

                                <!-- Sử dụng icon trash cho Xóa -->

                                <a href=" #myModal-@obj.UserID" class="btn btn-danger" data-toggle="modal">
                                    <i class="fa-solid fa-trash"></i>
                                    Xóa
                                </a>
                                

                                <!-- Modal HTML -->
                                <div id="myModal-@obj.UserID" class="modal fade">
                                    <div class="modal-dialog modal-dialog-centered modal-confirm">
                                        <div class="modal-content">
                                            <div class="modal-header flex-column">
                                                <div class="icon-box">
                                                    <i class="material-icons">&#xE5CD;</i>
                                                </div>
                                                <h4 class="modal-title w-100">Xác nhận</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body" style="color: black">
                                                <p>Bạn có thực sự muốn xóa không? Quá trình này không thể hoàn tác.</p>
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                <a asp-controller="User" asp-action="Delete" asp-route-id="@obj.UserID" class="btn btn-danger" style="color:white; line-height: 30px">
                                                    Xác nhận
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                

                            </div> 
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    @if (total > 0)
    {
        <ul style="display: flex; justify-content: center; align-items: center; padding: 0; margin-top: 10px; list-style: none;">
            <li style="margin-left: 3px;padding: 0;width: 30px;height: 30px;line-height: 30px;-moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;"><a asp-action="UserListTable" asp-route-search="@searchtxt" asp-route-page="@(page - 1)" class="prev" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;color:black">&laquo</a></li>
            @for (int i = 1; i <= total; i++)
            {
                @if (i == page)
                {
                    <li style="margin-left: 3px;padding: 0;width: 30px;height: 30px;line-height: 30px;-moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;background-color: #37B247;">
                        <a asp-action="UserListTable" asp-route-searchtxt="@searchtxt" asp-route-fieldsearch="@fieldsearch" asp-route-page="@i" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;color:black">
                            @i
                        </a>
                    </li>
                }
                else
                {
                    <li style="margin-left: 3px;padding: 0;width: 30px;height: 30px;line-height: 30px;-moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;">
                        <a asp-action="UserListTable" asp-route-searchtxt="@searchtxt" asp-route-fieldsearch="@fieldsearch" asp-route-page="@i" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;color:black">
                            @i
                        </a>
                    </li>

                }
            }
            <li style="margin-left: 3px;padding: 0;width: 30px;height: 30px;line-height: 30px;-moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;"><a asp-action="UserListTable" asp-route-search="@searchtxt" asp-route-page="@(page + 1)" class="next" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;color:black">&raquo;</a></li>
        </ul>
    }
</div>

<script>

    document.getElementById("txtSearch").addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
            // Lấy giá trị từ txtSearch
            var searchValue = this.value;
            var fieldSearch = document.getElementById("fieldsearch").value;
            var url = "/User/UserListTable?searchtxt=" + searchValue + "&fieldsearch=" + fieldSearch;

            // Chuyển hướng đến URL
            window.location.href = url;
        }
    });

    document.getElementById("fieldsearch").addEventListener("change", function () {

        // Lấy giá trị từ makeSelect
        var fieldSearch = this.value;
        var searchValue = document.getElementById("txtSearch").value;
        
        var url = "/User/UserListTable?searchtxt=" + searchValue + "&fieldsearch=" + fieldSearch;
        // Chuyển hướng đến URL
        window.location.href = url;
    });
    
</script>

