<!-- carousel -->
@using WebPBL3.DTO;
@model List<CarVM>
@{
    ViewData["Title"] = "Trang chủ";
    var cars = ViewBag.cars;
    var feedBacks = ViewBag.feedBacks;
    var news = ViewBag.news;
}
<section>
<div class="carousel">
    <!-- list item -->
    <div class="list">
        <div class="item">
            <img src="/images/img1.jpg">
            <div class="content">
                <div class="author">JAPAN</div>
                <div class="title">Toyota V6</div>
                <div class="topic">Mãnh lực tiên phong</div>
                <div class="des">
                    <!-- lorem 50 -->
                    
                </div>
                <div class="buttons">
                    <button>SEE MORE</button>
                    <button>SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/images/img2.jpg">
            <div class="content">
                <div class="author">VIỆT NAM</div>
                <div class="title">VinFast VF 5</div>
                <div class="topic">Mãnh liệt tinh thần Việt Nam</div>
                <div class="des">
                    
                </div>
                <div class="buttons">
                    <button>SEE MORE</button>
                    <button>SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/images/img3.jpg">
            <div class="content">
                <div class="author">GERMANY</div>
                <div class="title">BMW iX3</div>
                <div class="topic">Cỗ máy tối thượng</div>
                <div class="des">
                    
                </div>
                <div class="buttons">
                    <button>SEE MORE</button>
                    <button>SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/images/img4.jpg">
            <div class="content">
                <div class="author">USA</div>
                <div class="title">Ford Everest</div>
                <div class="topic">Tiến xa hơn nữa</div>
                <div class="des">
                    
                </div>
                <div class="buttons">
                    <button>SEE MORE</button>
                    <button>SUBSCRIBE</button>
                </div>
            </div>
        </div>
    </div>
    <!-- list thumnail -->
    <div class="thumbnail">
        <div class="item">
            <img src="/images/img1.jpg">
            <div class="content">
                <div class="title">
                    Toyota
                </div>
                <div class="description">
                    
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/images/img2.jpg">
            <div class="content">
                <div class="title">
                    Vinfast
                </div>
                <div class="description">
                  
                </div>
            </div>
        </div>
		<div class="item">
			<img src="/images/img3.jpg" />
            <div class="content">
                <div class="title">
                   BMW
                </div>
                <div class="description">
                   
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/images/img4.jpg">
            <div class="content">
                <div class="title">
                    Ford
                </div>
                <div class="description">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- next prev -->

    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <!-- time running -->
    <div class="time"></div>
</div>
</section>
<section class="ftco-section ftco-intro">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
                <h2 class="mb-3">Nhận thông tin xe bằng cách liên hệ</h2>
                <h3 class="mb-3">Lưu ý, bạn hãy tìm ra những mẫu xe yêu thích trước khi liên hệ với chúng tôi</h3>
                <a href="@Url.Action("Contact","Home")" class="btn btn-primary btn-lg" style="width: 150px">Liên Hệ</a>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <h2 class="mb-2">Gợi ý sản phẩm</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">
                    @foreach (var item in cars)
                    {   
                        
                        <div class="item">
                            <div class="car-wrap rounded ftco-animate">
                                <div class="img rounded d-flex align-items-end" style="background-image: url(upload/car/@item.Photo);">
                                </div>
                                <div class="text">
                                    <h2 class="mb-0"><a href="#">@item.CarName - @item.MakeName</a></h2>
                                    <p class="price ml-auto">@String.Format("{0:N0}", item.Price) VNĐ</p>
                                    <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Chi Tiết</a></p>
                                </div>
                            </div>
                        </div>
                    }
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid py-4">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                    <div class="h-100 position-relative">
                        <img src="https://www.shutterstock.com/image-photo/positive-young-professional-saleswoman-demonstrating-600nw-1912865050.jpg"
                             class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                        <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                            <img src="https://www.easycars.com.au/media/3951/car-dealer-customer-retention-ec.png"
                                 class="img-fluid w-100 rounded" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                    <h5 class="text-danger text-decoration-underline">Về chúng tôi</h5>
                    <h1 class="mb-4">Sự hài lòng của khách hàng là niềm vui của chúng tôi</h1>
                    <p>
                        DragonCar không chỉ là một showroom ô tô thông thường, mà còn là một điểm đến tinh tế dành cho những người
                        đam mê xe hơi và đẳng cấp. Với không gian trưng bày sang trọng và chăm sóc tận tình từ đội ngũ nhân viên
                        giàu kinh nghiệm, chúng tôi cam kết mang đến cho bạn trải nghiệm mua sắm đẳng cấp và không thể quên.
                        Tại DragonCar, bạn sẽ được khám phá những mẫu xe mới nhất từ các hãng danh tiếng trên thị trường, từ các
                        dòng xe thể thao đầy sức mạnh đến những chiếc sedan sang trọng và xe SUV tiện ích. Chúng tôi luôn cập nhật
                        và mang đến những xu hướng mới nhất trong ngành công nghiệp ô tô để đáp ứng mọi nhu cầu của khách hàng.
                    </p>
                    <p class="mb-4">Hãy đến và trải nghiệm sự hoàn hảo cùng DragonCar - nơi thực hiện những giấc mơ về xe hơi của bạn!</p>
                <a href="@Url.Action("Contact","Home")" class="btn btn-primary btn-lg" style="width: 150px">Tìm xe</a>
                </div>
            </div>
        </div>
    </div>






<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
               
                <h2 class="mb-3">Đánh giá của khách hàng</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    @foreach (var item in feedBacks)
                    {
                        <div class="item">
                            <div class="testimony-wrap rounded text-center py-4 pb-5">
                                <div class="user-img mb-2" style="background-image: url(upload/user/@item.Photo)">
                                </div>
                                <div class="text pt-4">
                                    <p class="mb-4">@item.Content</p>
                                    <p class="name">@item.FullName</p>
                                    <span class="position">@item.Title</span>
                                </div>
                            </div>
                        </div>
                    }
                    
                   
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                
                <h2>Tin tức gần đây</h2>
            </div>
        </div>
        <div class="row d-flex">
            @foreach (var item in news)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="blog-single.html" class="block-20" style="background-image: url('images/@item.Photo');">
                        </a>
                        <div class="text pt-4" style="display: flex;justify-content: center;flex-direction: column;text-align: center;">
                            <div class="meta mb-3">
                                <div>@item.CreateAt?.ToString("MMM. dd, yyyy")</div>
                                <div>@item.FullName</div>
                                
                            </div>
                            <h3 class="heading mt-2">@item.Title</h3>
                            <p><a class="btn btn-primary" asp-controller="News" asp-action="DetailUser" asp-route-id="@item.NewsID">Read more</a></p>
                            
                        </div>
                    </div>
                </div>
            }
            
            
        </div>
    </div>
</section>


 